---
---

@import "{{ site.theme }}";
.page-header {
  background: url('/assets/hp-header.jpg');
  background-size: cover;
}
.page-header h1, .page-header h2 {
  display:inline;
  clear:left;
  opacity: 0.5;
  background-color: #000;
}
.page-header h1:after, .page-header h2:after {
  content:"\a";
  white-space: pre;

}
